!!!
%html{:lang => "ja"}
  %head
    %title TwitterLike
    %meta{:charset => "utf-8"}
    %meta{:charset => "utf-8", :name => "viewport", :content => "width=device-width"}

    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/main.css", :rel => "stylesheet"}
  %body
    .container
      .row
        .col-md-12 
        %nav.navbar.navbar-default
          .navbar-header
            .dropdown
              %button.btn.btn-default#user-button{:"data-toggle" => "dropdown"} 
                = @user['name']
                %span.caret
              %ul.dropdown-menu
                %li 
                  %a{:href => "/Signout"} サインアウト
      .row
        .col-md-4
          .row.user-info
            .col-md-4
              %p ツイート 
              %p= @tweet_count
            .col-md-4
              %p フォロー
              %p= @follow_count
            .col-md-4
              %p フォロワー
              %p= @followed_count
          .row.user-list
            %h3 おすすめユーザー
            - @unfollow_users.each do |user|
              %form{:method => "POST", :action => '/Follow'}
                .follow-user
                  %p= user['name']
                  %input{:type => "hidden", :name => "follower_id", :value => user["id"]}
                  %input.btn.btn-info{:value => "フォロー", :type => "submit"} 

        .col-md-8
          .row.tweet-form
            %form{:method => "POST", :action => '/Tweet'}
              %textarea.form-control#tweet-form-input{:placeholder => "今なにしてる？", :row => "5", :name => "message", :type => "textarea"}
              %input.btn.btn-primary#tweet-button{:value => "ツイート", :type => "submit"}
          .row.timeline
            - @timeline.reverse.each do |tweet|
              %p= tweet['name'].to_s + ': ' + tweet['message']

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
